{% extends 'base.html.twig' %}

{% block body %}
    <h1>У вас нет доступа к этой странице!⚠️</h1>

    <p>
        Проверьте URL-адрес на наличие орфографических ошибок или <a href="{{ path('app_course_index') }}">вернитесь на главную страницу</a>.
    </p>
{% endblock %}
