{% extends 'base.html.twig' %}

{% block body %}
    <h1>Страница не найдена!😔</h1>

    <p>
        Запрошенная страница не найдена. Проверьте URL-адрес на наличие орфографических ошибок или <a href="{{ path('app_course_index') }}">вернитесь на главную страницу</a>.
    </p>
{% endblock %}
